# Testing framework
pytest==8.3.2
pytest-html==4.1.1

# Web automation and browser drivers
selenium==4.20.0
webdriver-manager==4.0.2

# API testing
requests==2.31.0

# Data handling (if needed)
pandas==2.2.2

# Machine learning (only if needed)
scikit-learn==1.5.2
xgboost==2.0.3
